#root {
  padding: 0;
  text-align: center;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  border: 0.1rem solid black;
}

footer {
  border: 0.1rem solid black;
}
